@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&family=Inter:wght@500&family=Playfair+Display:wght@600;900&family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#form{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7%;
}

#input{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 5px;
}

#submit{
    border-radius: 10px;
    border: 2px solid black;
}

#card{
    width: 300px;
    height: 200px;
    background-color: rgb(168, 106, 226);
    border-radius: 20px;
    border: 3px solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

#card>div{
    padding-top: 20px;
    padding-left: 10px;
}

.hidden{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.close{
    border-radius: 5px;
    border: 1px solid white;
    height: 25px;
    align-self: flex-start;
}

/* tipos */
.normal {
    background-color: #aa9;
  }
  
  .fire {
    background-color: #f42;
  }
  
  .grass {
    background-color: #7c5;
  }
  
  .poison {
    background-color: #a59;
  }
  
  .water {
    background-color: #39f;
  }
  
  .electric {
    background-color: #fc3;
  }
  
  .ice {
    background-color: #6cf;
  }
  
  .fighting {
    background-color: #b54;
  }
  
  .ground {
    background-color: #db5;
  }
  
  .flying {
    background-color: #89f;
  }
  
  .psychic {
    background-color: #f59;
  }
  
  .bug {
    background-color: #ab2;
  }
  
  .rock {
    background-color: #ba6;
  }
  
  .ghost {
    background-color: #66b;
  }
  
  .dragon {
    background-color: #76e;
  }
  
  .dark {
    background-color: rgb(7, 3, 1);
  }
  
  .steel {
    background-color: #aab;
  }
  
  .fairy {
    background-color: #e9e;
  }