@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@200;300&family=Inter:wght@500&family=Playfair+Display:wght@600;900&family=Poppins:wght@200&display=swap');

*{
    font-family: 'Poppins';
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#form{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 7%;
}

#input{
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    width: 20%;
}

#submit{
    border-radius: 10px;
    border: 2px solid black;
}

#card{
    width: 400px;
    height: 200px;
    background-color: rgb(168, 106, 226);
    border-radius: 20px;
    border: 3px solid;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#card>div{
    padding-top: 20px;
    padding-left: 10px;
}

.hidden{
    display: none;
}

.visible{
    display: auto;
}